body {
  background-color: lightblue;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    color: bisque;
}


ul { list-style-type:none;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    padding-right: 100px;
}

li { display:inline;
}

img {display:block;
     margin:auto;
}
